/* stylesheet */

body {
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: none;
    width: auto;

}

main {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

.title {
    background-color: #F8CB92;
    color: #F1EED4;
    border-radius: 20px 20px;
    margin: 20px;
}

.img {
    border-radius: 30%;
    margin: o auto;
}

p {
    color: #364052;
}

.ingredients-title {
    color: #364052;
}

.ingredients {
    color: #364052;
}

.steps-title {
    color: #364052;
}

.steps {
    color: #364052;
}